.home{
    .hero {
        height: calc(100vh - 125px);
    }
    .title{
        font-size: rem(20px);
        letter-spacing: rem(2px);
        text-align: center;
        padding: rem(50px);
    }
    
    .type-preview {
        position: relative;
        
        .preview-title {
            position: absolute;
            bottom: 0;
            width: 100%;
            text-align: center;
            padding: rem(15px);
            font-size: rem(40px);
            letter-spacing: rem(2px);
            color: $clr5;
        }
    }

}