@font-face {
    font-family: Rubik-Regular;
    src: url(../../fonts/Rubik/Rubik-Regular.ttf);
}
@font-face {
    font-family: MarckScript-Regular;
    src: url(../../fonts/Marck_Script/MarckScript-Regular.ttf);
}

@font-face {
    font-family: DancingScript-Regular;
    src: url(../../fonts/DancingScript/DancingScript-Regular.ttf)
}